<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="GiphyApp">
	<head>
		<title>TODO supply a title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="bower_components/angular/angular.js"></script>
		<script src="index.js"></script>
	</head>
	<body ng-controller="GiphyCtrl as giphyCtrl">
		<h1>Search Giphy</h1>
		Search: 
		<input type="text" size="30" ng-model="giphyCtrl.searchText"> 
		<button type="button" ng-click="giphyCtrl.search()">
			Search
		</button>
		<hr>

		<div ng-repeat="i in giphyCtrl.images">
			<img ng-src="{{ i }}">
		</div>
	</body>
</html>
